  .container-principal{
    background-color: grey;
  	width: 700px;
  	height: 700px;
    align-items: center;
    margin: auto;
  	  
  }
  .container1{
  	background-color: green;
  	width: 700px;
  	height: 40px;
    margin-top:20px;
    display: flex;
    

  }
  .logo{
  	background-color: red;
  	width: 100px;
  	height: 40px;
    justify-content: flex-start;
    font-family: sans-serif;
  
  }

  
  .hipervinculos{
  	background-color: yellow;
  	width: 600px;
  	height: 40px;
    display: flex;
    justify-content: flex-end;


  
  }
  .container2{
  	background-color: red;
  	width: 700px;
  	height: 100px;
    display: flex;  
  	
  }
  .logo1{
    width: 100px;
    height: 100px;
    background-color: green;
    margin: auto;
  }
  .fotito{
  	background-color: black;
  	width: 100px;
  	height: 90px;
  	justify-content: flex-start;
  }
  .quien-soy{
  	
  	width: 500px;
  	height: 90px;
  	display:inline-block;
    font-family: sans-serif;
    margin-left: 40px;

  }
  .git{
  
  	width: 90px;
  	height: 90px;
  	display: flex;
    margin-right: 0px;
    margin-top: 60px;
    justify-content: space-between;
    
  }

  .foto-principal{
  	background-color: orange;
  	width: 700px;
  	height: 200px;
    margin: auto;
    padding-top: 10px;
    align-content: center;


  }
 #flores{
   width: 700px;
   height: 200px;
 }