  .container-principal{
  	background-color: grey;
  	width: 1000px;
  	height: 700px;
  	display: flex;
  	display:block;
  	text-align: center;

  }
  .container1{
  	background-color: blue;
  	width: 700px;
  	height: 60px;
  	display: flex;
  	display:inline-block;
  }
  .logo{
  	background-color: red;
  	width: 200px;
  	height: 50px;
  	display:inline-block;
  	text-align: left;
  }
  .hipervinculos{
  	background-color: green;
  	width: 200px;
  	height: 50px;
  	display:inline-block;
  	text-align: right;
  }
  .container2{
  	background-color: yellow;
  	width: 700px;
  	height: 100px;
  	display: flex;
  	display:inline-block;
  	display:space-between 10px;
  }
  .fotito{
  	background-color: white;
  	width: 90px;
  	height: 90px;
  	display:inline-block;
  	text-align: right;
  }
  .quien-soy{
  	background-color: orange;
  	width: 90px;
  	height: 90px;
  	display:inline-block;
  }
  .git{
  	background-color: blue;
  	width: 90px;
  	height: 90px;
  	display: flex;
  	display:inline-block;
  }
  .container3{
  	background-color: pink;
  	width: 700px;
  	height: 200px;
  	display: flex;
  	display:inline-block;
  }
  .foto-principal{
  	background-color: blue;
  	width: 500px;
  	height: 200px;
  	display: flex;
  	display:inline-block;
  }
  .container-inferior{
  	background-color: red;
  	width: 700px;
  	height: 200px;
  	display: flex;
  	display:inline-block;
  }
  .container-ultimo{
  	background-color: blue;
  	width: 700px;
  	height: 90px;
  	display: flex;
  	display:inline-block;
  }